.layout {
    min-height: 100vh;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 40px var(--side-paddings);
    max-height: calc(100vh - var(--app-header-height));

    overflow: hidden;
}

.fillContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fullHeight{
    height: 100%;
}

.warnLabel{
    text-align: center;
    display: block;
    padding: 12px;
    background-color: #B6DFED;
}